.instrucciones {
	justify-content: center;
}

.body-cuestionario {
	background-repeat: no-repeat;
    background: url(/img/fondo.jpg);
    background-size: cover;
}

.cuestionario{
	text-align:left;
	margin-left: 5px;
	width: 100%;
	height: 65vh;
	overflow: auto;
}
.div-btn {
	text-align: right;
}
.button-terminar-ejercicio{
	margin: 20px;
	padding: 10px 20px;
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: 1rem;
}

/*scroll*/
.force-overflow {
	width: 100%;
	/* min-height: 450px;
}
.cuestionario::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 20px; */
	/* background-color: #f0ce9fbd; */
}

.cuestionario::-webkit-scrollbar {
	width: 15px;
	margin: 10px;
	border-radius: 20px;
	background-color: #f0ce9fbd;
}

.cuestionario::-webkit-scrollbar-thumb{
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	/* background-color: #f0ce9fbd; */
	background: url('/img/scroll.svg');
	background-repeat: no-repeat;
	background-size: auto;
}

/*Estilos Teacher*/
.body-cuestionario-teacher {
  --text-color: #3f88d7;
}
/*---------*/

.body-cuestionario-teacher{
	color: var(--text-color);
	width: 96%;
	margin-left: 2%;
}
.letter-red {
	color: red;
	font-size: .6rem;
}
.header-btn {
	display: flex;
	justify-content: space-between;
	line-height: 5px;
}
.button-agregar {
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: .7rem;
}
.text-teacher {
	border-color: var(--text-color);
	border-style: solid;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 20px;
}
.question-admin {
	width: 100%;
	margin: 10px 0px;
	display: flex;
}
.question-text-admin {
	color: var(--text-color);
	width: 100%;
	border: #007bff;
	border-style: solid;
	border-width: thin;
}
.radio{
	display: inline-flex !important;
}
.radio:checked{
	display: inline-flex !important;
	color: #4545445;
}
.questions-options{
	width: 100%;
	border: #007bff;
	border-style: solid;
	border-width: thin;
	border-top: none;
}
.type-question{
	display: flex;
	width: 100%;
	border: #007bff;
	border-style: solid;
	border-width: thin;
	border-top: none;
	/* border-bottom: none; */
}
.div-delete {
	border: none;
	background: url('/img/tache.svg');
    width: 15px;
    height: 15px;
    margin-top: 26px;
	background-repeat: no-repeat;
}
.div-question {
	width: 95%
}
.question-option {
	width: 80%;
	margin-left: 3%;
	color: var(--text-color);
	border: none;
}
.option {
	display: flex;
}
.option-teacher{
	margin: 10px 15px;
}
.div-delete-option {
	border: none;
	background: url('/img/tache.svg');
    width: 12px;
    height: 12px;
    margin-top: 7px;
	background-repeat: no-repeat;
}
.buttons {
	display: flex;
	justify-content: center;
}
.button-reset {
	margin: 10px 20px;
	background-color: #165e6a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}

.button-terminar {
	margin: 10px 20px;
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}

/*Scroll admin*/
.preguntas {
	margin: 10px 0px;
	width: 100%;
	height: 70vh;
	overflow: auto;
}
.force-overflow {
	width: 100%;
	/* min-height: 450px; */
}
.preguntas::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 20px; */
	/* background-color: #f0ce9fbd; */
}

.preguntas::-webkit-scrollbar {
	width: 4px;
	margin: 10px;
	/* border-radius: 20px; */
	background-color: #b7bec5;
}

.preguntas::-webkit-scrollbar-thumb{
	/* border-radius: 10px;  */
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	 background-color: #fb6d14;
	/* background: url('/img/scroll.svg');
	background-repeat: no-repeat;
	background-size: contain; */
}

.div-add-option {
	border: none;
	background: url('/img/mas.svg');
    width: 12px;
    height: 12px;
    margin-top: 7px;
	background-repeat: no-repeat;
}

/*Errores*/
.error{
	border: 1px  solid red;
}
/*Question*/
.numero {
	width: 40px;
}
.div-num{
	font-family: Trattatello;
	font-weight: bold;
	display: inline;
    width: 30px;
    margin-left: -25px;
    margin-right: 20px;
}
.text {
    background: url(/img/fondo-pregunta.svg);
	padding: 10px;
    padding-left: 40px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-question{
	width: 90%;
	margin: 10px;
}
.respuesta {
	min-height: 50px;
	max-height: 500px;
    border: none;
    width: 95%;
    height: 100px;
    overflow: hidden;
    color: #a08a44;
    background-color: rgba(255, 255, 255, 0);
}
.respuesta:focus{
	outline: 0;
}
/*Checkbox*/input[type="checkbox"] {
	display:none;
}
.check {
	margin: 0px;
	margin-right: 5px;
}
 input[type="checkbox"] + label {
	 display: inline-block;
     width: 16px;
     height: 16px;
     cursor: pointer;
     background-color: #cbaa83bd;
	 border-radius: 6px;
}
input[type="checkbox"]:checked + label {
	display: inline-block;
    width: 20px;
    height: 16px;
    background-color: #cbaa83bd;
    border-radius: 6px;
    background-image: url(/img/Palomita.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Radio*/
input[type="radio"] {
	display:none;
}
.radio {
	margin: 0px;
	margin-right: 5px;
}
 input[type="radio"] + label {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-image: url('/img/Diamanteplata.png');
	background-size: cover;
}
input[type="radio"]:checked + label {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-image: url('/img/Diamanteblue.png');
	background-size: cover;
}
