input[type="radio"] {
	display:none;
}
.radio { 
	margin: 0px;
	margin-right: 5px;
}
 input + label {
	display: inline-block;	
	width: 20px;
	height: 20px;
	cursor: pointer;	
	background-image: url('/img/circulo.png');
	background-size: cover;
}
input[type="radio"]:checked + label {
	display: inline-block;	
	width: 20px;
	height: 20px;
	cursor: pointer;	
	background-image: url('/img/avatar.png');
	background-size: cover;
}
