
.avatar-dibujo{
    z-index: 1;
    position: absolute;
    top: -45px;
}
.text_instructions{
    font-family: Trattatello;
    font-size: 1rem;
    margin-top: -164px;
    width: 76%;
    margin-left: 200px;
    text-align: left;
}
.title {
    width: 85%;
    font-family: Trattatello;
	font-weight: bold;
	text-transform: uppercase;
}
.text_instructions h3 {
    font-family: Trattatello;
    font-size: 18pt;
}
.title_instructions{
    font-family: Trattatello;
    height: 175px !important;
    width : 100% !important;
}
.title_image{
  top: -30px;
  position: absolute;
}
@media (max-width: 770px){
	.text_instructions{
		width: 60%;
	}
}
