input[type="checkbox"] {
	display:none;
}
.check {
	margin: 0px;
	margin-right: 5px;
}
 input[type="checkbox"] + label {
	 display: inline-block;
     width: 16px;
     height: 16px;
     cursor: pointer;
     background-color: #cbaa83bd;
	 border-radius: 6px;
}
input[type="checkbox"]:checked + label {
	display: inline-block;
    width: 20px;
    height: 16px;
    background-color: #cbaa83bd;
    border-radius: 6px;
    background-image: url(/img/Palomita.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
