.numero {
	width: 40px;
}
.div-num{
	font-weight: bold;
	display: inline;
    width: 30px;
    margin-left: -25px;
    margin-right: 20px;
}
.text {
	background-color: #e6d1915e;
	padding-left: 45px;
    border: none;
}
.body-question{
	width: 90%;
}
.respuesta {
	border: none;
	resize: none;
    width: 95%;
    height: 100%;
    overflow: hidden;
    color: #a08a44;
	background-color: rgba(255, 255, 255, 0);
}
