textarea {
    resize: none;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.container{
	margin-bottom:10px;
	display: block;
}
.body-book {
	background: url('/img/fondo.jpg');
}
.page {
    height: 200px;
}

.book {
	
}
