.book-text {
	z-index: 4;
	font-size: 1rem;
	margin: 0px 5%;
    resize: none;
    width: 30%;
    height: 53vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}
.shadow{
	box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
}
.body-book {
	justify-content: center;
    overflow: auto;
	background-repeat: no-repeat;
    background: url('/img/fondo.jpg');
    background-size: cover;
	background-position: center;
}
.book {
	font-size: .7rem;
    width: 80%;
    margin-top: 130px;
    margin-left: 10%;
}
.b{
	z-index: 4;
	margin: 0%;
	top: -66vh;
	width: 80%
}
.instrucciones{
	justify-content:center;
}
.div-btn {
	text-align: right;
	/* margin-top: -300px;
    margin-right: 50px; */
}
.button-terminar-ejercicio{
	margin: 20px;
	padding: 10px 20px;
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: 1rem;
}
.image-book{
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------------*/
/*Estilos Teacher*/
.body-cuestionario-teacher {
  --text-color: #3f88d7;
}
.body-cuestionario-teacher{
	color: var(--text-color);
	width: 96%;
	margin-left: 2%;
}
.div-body {
	height: 70vh;
}
.buttons {
	display: flex;
	justify-content: center;
}
.button-reset {
	margin: 10px 20px;
	background-color: #165e6a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}
.button-terminar {
	margin: 10px 20px;
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}
