.book-text {
	margin: 0px 5%;
	margin-top: -50%;
    resize: none;
    width: 40%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}
/* .container{
	margin-bottom:10px;
	display: block;
} */
.body-book {
	background-repeat: no-repeat;
    background: url('/img/fondo.jpg');
    background-size: cover;
}
.page {
    height: 200px;
}

.book {
	font-size: .7rem;
    width: 80%;
    height: -webkit-fill-available;
    margin-top: 90px;
    /*background: url(/img/libro-abierto.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10%;
    background-position: top;
}
.b{
	margin: 0%;
}
.img-fondo {
	width: -webkit-fill-available;
    height: 70vh;
}
.instrucciones{
	justify-content:center;
}

/*Estilos Teacher*/
.body-cuestionario-teacher {
  --text-color: #3f88d7;
}
/*---------*/

.body-cuestionario-teacher{
	color: var(--text-color);
	width: 96%;
	margin-left: 2%;
}
.div-body {
	height: 70vh;
}
.buttons {
	display: flex;
	justify-content: center;
}
.button-reset {
	margin: 10px 20px;
	background-color: #165e6a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}

.button-terminar {
	margin: 10px 20px;
	background-color: #f8730a;
	border: none;
	color: #ffffff;
	font-size: .8rem;
}
