/* .Header{
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
} */
@font-face {
    font-family: 'Montserrat';
    src:  url(Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'Trattatello';
    src: url(Trattatello.ttf);
}
@font-face {
    font-family: 'MontserratBold';
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'MontserratLight';
    src: url(Montserrat-Light.ttf);
}
/* .Content{
    margin: 20px;
} */
